body {
  background-color: #F6F6F6;
}

.container {
  border: 1px solid;
  background-color: #fff;
  width: 50%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.todo-add {
  display: flex;
  padding: 10px;
}

.todo-add button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

ul {
  list-style: none;
  padding: 10px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.scroll {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.footer {
  background-color: #F6F6F6;
  height: 50px;
  border-top: 1px solid ;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.footer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}